.posts-screen {
  padding-top: 120px;
  background: #fdfdfd;
  padding-bottom: 120px;
  @media (max-width: 768px) {
    padding: 100px 0;
  }
  @media (max-width: 475px) {
    padding: 80px 0;
  }
  .row-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .slider-navigation {
    @media (max-width: 475px) {
      display: none;
    }
  }
  .post-swiper {
    padding-bottom: 58px;
    overflow: visible;
  }
}
